<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Supplier</title>
</head>
<body>
<h2>Введите данные нового поставщика</h2>
<form th:action="@{/suppliers}" method="post" th:object="${supplier}">
    <label for="address">Address:
        <input id="address" type="text" name="address" th:value="*{address}">
    </label>
    <br>
    <label for="email">Email:
        <input id="email" type="text" name="email" th:value="*{email}">
    </label>
    <br>
    <label for="name">Name:
        <input id="name" type="text" name="name" th:value="*{name}">
    </label>
    <br>
    <label for="phoneNumber">PhoneNumber:
        <input id="phoneNumber" type="text" name="phoneNumber" th:value="*{phoneNumber}">
    </label>
    <br>
    <button type="submit">Save</button>
</form>
<br>
<form action="/login" method="get">
    <button type="submit">Logout</button>
</form>
</body>
</html>