<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<form  method="post" th:object="${user}">
    <label for="name">Name:
        <input type="text" name="name" id="name" th:value="*{name}">
    </label><br/>

    <label for="birthday">Birthday:
        <input type="date" name="birthday" id="birthday" th:value="*{birthday}">
    </label><br/>

    <label for="password">Password:
        <input id="password" type="text" name="password" th:value="*{password}">
    </label><br/>

    <div th:each="status:${statusName}">
        <input th:id="${statusName}" type="radio" name="status" th:value="${status}"
               th:checked="${status==user.status}">

        <label th:for="${status}" th:text="${status}">Status name</label>
        <br>
    </div>
    <br>
</form>

<form action="/login" method="get">
    <button type="submit">Logout</button>
</form>

</body>
</html>