<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>

<!--method="post"    update-->
<div th:each="category : ${categories}">
    <form th:action="@{/categories/{id}(id=${category.category})}" method="get" th:object="${category}">
        <li th:text="'Номер: ' + ${category.category}"></li>
        <li th:text="'Наименование категории: ' + ${category.categoryName}"></li>
        <button type="submit">Change</button>
    </form>
</div>

</body>
</html>