<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<!--//TODO ${user}-?-->
<form th:action="@{/login}" method="post" th:object="">
    <label for="password">Password:
        <input type="password" name="password" id="password" th:value="*{password}">
    </label><br>

    <button type="submit">Login</button>
    <a th:href="@{/registration}">
        <button type="button">Register</button>
    </a>

    <div th:if="${errors}">
        <p style="color: red" th:each="error:${errors}" th:text="${error.defaultMessage}">Email or password is not correct</p>
    </div>
</form>
</body>
</html>