<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<form th:action="@{/registration}" method="post" th:object="${user}">
    <label for="name">Name:
        <input type="text" name="name" id="name" th:value="*{name}">
    </label><br/>
    <label for="birthday">Birthday:
        <input type="date" name="birthday" id="birthday" th:value="*{birthday}">
    </label><br/>
    <label for="pwd">Password:
        <input type="password" name="pwd" id="pwd" th:value="*{password}">
    </label><br/>

        <div th:each="status:${statusName}">
            <input th:id="${statusName}" type="radio" name="status" th:value="${status}"
                   th:checked="${status==user.status}">

            <label th:for="${status}" th:text="${status}">Status name</label>
            <br>
        </div>

    <input type="submit" value="Send">
</form>
<!--<c:if test="${not empty requestScope.errors}">-->
<!--    <div style="color: red">-->
<!--        <c:forEach var="error" items="${requestScope.errors}">-->
<!--            <span>${error.message}</span>-->
<!--            <br>-->
<!--        </c:forEach>-->
<!--    </div>-->
<!--</c:if>-->
</body>
</html>